server:
  port: ${PORT:8080}

spring:
  datasource:
    # Tuned for Railway MySQL 8.0 using standard MySQL Driver
    url: jdbc:mysql://${MYSQLHOST:localhost}:${MYSQLPORT:3307}/${MYSQLDATABASE:finance_app}?allowPublicKeyRetrieval=true&useSSL=false
    username: ${MYSQLUSER:finance_user}
    password: ${MYSQLPASSWORD:password1234}
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    database-platform: org.hibernate.dialect.MySQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
