server:
  port: 8080

spring:
  datasource:
    url: jdbc:mariadb://localhost:3307/finance_app
    username: finance_user
    password: password1234
    driver-class-name: org.mariadb.jdbc.Driver
    database-platform: org.hibernate.dialect.MariaDBDialect
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
