server:
  port: ${PORT:8080}

spring:
  datasource:
    url: ${MYSQL_URL:${DATABASE_URL:jdbc:mariadb://localhost:3307/finance_app}}
    username: ${MYSQL_USER:finance_user}
    password: ${MYSQL_PASSWORD:password1234}
    driver-class-name: org.mariadb.jdbc.Driver
    database-platform: org.hibernate.dialect.MariaDBDialect
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
